.card {
  /* margin-left: 10px; */
  width: calc(100vw / 3 - 10px); /* Each card takes 1/3 of the screen width */
  width: calc((100vw / 2) * 0.75 - 17px);
  /* width: 250px; */
  /* height: 250px; */
  background: lightblue;
  background-color: #142642;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  display: flex;
  flex-direction: column;
  font-size: 24px;
  border-radius: 10px;
  /* margin-top: 30px; */
  text-align: left;
  /* margin-bottom: 30px; */
}
.logo {
  height: 40px;
  background-color: blue;
  background-color: #142642;
  width: 100%;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  width: calc((100vw / 2) * 0.75 - 27px);
  margin: 0;
  margin-bottom: 0;
  position: sticky;
  top: 0;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  padding-left: 10px;
  border-radius: 10px;
  top: 0;
}
.text {
  padding-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
.buttons {
  box-shadow: 2px 2px 2px #00ffff;

  border: none;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgba(20, 209, 200, 1);
  border-radius: 15px;
  box-shadow: 0 8px 10px rgba(20, 209, 200, 0.5),
    /* Bottom shadow */ 0 -8px 10px rgba(20, 209, 200, 0.5),
    /* Top shadow */ 8px 0 10px rgba(20, 209, 200, 0.5),
    /* Right shadow */ -8px 0 10px rgba(20, 209, 200, 0.5); /* Left shadow */

  /* padding: 10px; */
}
.paragraphs {
  font-size: 16px;
  /* margin: 20px; */
  color: #fff;
}
.h5s {
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
}
