.wrapper {
  background-color: #142642;
  display: flex;
  padding-top: 50px;
}
.detail {
  flex: 6;
  text-align: left;
}
.form {
  flex: 6;
}
.buttons {
  background-color: rgba(20, 209, 200, 1);
  padding: 10px;
  box-shadow: 2px 2px 2px #00ffff;
  border-radius: 15px;
  border: none;
  margin: 12px;
  box-shadow: 0 8px 10px rgba(20, 209, 200, 0.5),
    /* Bottom shadow */ 0 -8px 10px rgba(20, 209, 200, 0.5),
    /* Top shadow */ 8px 0 10px rgba(20, 209, 200, 0.5),
    /* Right shadow */ -8px 0 10px rgba(20, 209, 200, 0.5);
}
.details {
  color: white;
  /* text-align: left; */
  /* padding: 10px; */

  padding-left: 150px;
}
.texts {
  color: rgba(20, 209, 200, 1);
}
.upper {
  display: flex;
  align-content: center;
  justify-content: center;
}
.ContactMe {
  background-color: #142642;
  margin-top: 0;
}
.headers {
  margin: 0;
  padding-top: 20px;
}
.topText {
  margin: 0;
  color: white;
}
@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    text-align: center;
  }

  .detail,
  .form {
    padding: 10px;
  }

  input,
  textarea {
    width: 90%;
  }

  .buttons {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .ContactMe {
    padding: 20px;
  }

  .details {
    font-size: 14px;
    padding: 10px;
  }

  input,
  textarea {
    width: 100%;
  }

  .buttons {
    width: 100%;
    font-size: 14px;
  }
}
.svgs {
  display: flex;
  padding: 20px;
  align-content: space-between;
  margin-left: 80px;
}
.phone {
  color: white;
  margin: 10px;
}
