.wrapper {
  /* display: flex; */
  background-color: #142642;
  margin: 0;
  padding-top: 100px;
  padding-bottom: 75px;
}
.cardholder {
  /* display: flex;
  overflow-x: hidden;
  width: 240px;
  gap: 10px;
  scroll-behavior: smooth; */
  display: flex;
  /* gap: 30px; */

  width: max-content;
  transition: transform 0.5s ease-in-out;
}
.card1 {
  flex: 0 0 200px;
  border: red 3px;

  border-color: red;
  background-color: aqua;
  border: 3px;
  width: 60px;
  height: 50px;
}
.card2 {
  flex: 0 0 200px;
  border: red 3px;
  width: 60px;
  height: 50px;

  background-color: blue;
}
.card3 {
  flex: 0 0 200px;
  border: red 3px;

  width: 60px;
  height: 50px;
  background-color: brown;
}
.card {
  margin-left: 10px;
  width: calc(100vw / 3 - 10px); /* Each card takes 1/3 of the screen width */
  width: calc((100vw / 2) * 0.75 - 17px);
  /* width: 250px; */
  /* height: 200px; */
  background: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 24px; */
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #142642;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}
.slider {
  /* display: flex;
  width: 90%;
  gap: 10px;
  align-items: center;
  justify-content: center; */
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
