.container {
  display: flex;
}
.circle {
  width: 100px;
  height: 100px;
  border-width: 3px;
  border-color: black;
  border-radius: 50%;
  border: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  color: black; /* Text color */
  background: conic-gradient(#14d1c8 0deg, #000 0deg);
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 8px 10px rgba(20, 209, 200, 0.5),
    /* Bottom shadow */ 0 -8px 10px rgba(20, 209, 200, 0.5),
    /* Top shadow */ 8px 0 10px rgba(20, 209, 200, 0.5),
    /* Right shadow */ -8px 0 10px rgba(20, 209, 200, 0.5); /* Left shadow */
  animation: fillCircle 2s linear forwards;
}
@keyframes fillCircle {
  0% {
    background: conic-gradient(#14d1c8 0%, #000 0deg);
  }
  100% {
    background: conic-gradient(#14d1c8 25%, #000 90deg);
  }
}
.circle::before {
  content: "";
  position: absolute;
  width: 85%;
  height: 85%;
  background: white;
  border-radius: 50%;
}
.inner {
  position: absolute;
  color: black;
  font-weight: bold;
}
.holder {
  display: flex;
  /* margin: 30px; */
  justify-content: space-around;
}
.logos {
  position: relative;
  right: 30px;
  top: 59px;
}
.classifier {
  display: flex;
}
.wrapper {
  background-color: #142642;
  margin-top: 0;
  padding-top: 20px;
}
.header {
  margin: 0;
  padding: 0;
  color: white;
}
.highlight {
  color: rgba(20, 209, 200, 1);
}
.progress-container {
  position: relative;
  width: 150px;
  height: 150px;
}

.progress-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(#131313 288deg, #ddd 0deg);
}

.center-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 70%;
  background: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
  color: #14d1c8;
}
